      
      <div style="text-align: center;">
      <h1>{{cube.name}} </h1>
      <img class="cube" src="{{cube.imageUrl}}">
      </div>
        {{!-- code for cube details --}}
        <div class="details" style="text-align: center;"><p><span>Description:</span> {{cube.description}}</p>
        <p><span>Difficulty level:</span> {{cube.difficulty}}</p>
        <a class="btn" href="/accessory/attach/{{cube._id}}">Attach Accessory</a><br>
        <a class="btn" href="/edit/{{cube._id}}">Edit</a>
            <form method="POST" action="/delete/{{cube.id}}" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Delete Cube</button>
            </form>

      </div>

      <h2>Accessories</h2>
<div class="accessories">
    
    {{#each accessories}}
        <div class="accessory">
            <img src={{imageUrl}}>
            <h3>{{name}}</h3>
            <p>{{description}}</p>
        </div>
    {{else}}
        <h3 class="italic">This cube has no accessories yet...</h3>
    {{/each}}